<div class="row text-center white-text" id="add-team-banner">
<h1>Teams</h1>
</div>

<div class="row text-center blue-text">
<ul class="no-bullets" id="team-list">
  <% @teams.each do |team| %>
    <li><h2><%= link_to team.teamname, team %></h2></li>
  <% end %>
</ul>
</div>

<div id="app"></div>
