<body class="teams-bg text-center white-text">
<h1>Teams</h1>
<ul class="no-bullets white-text">
  <% @teams.each do |team| %>
    <li><h2><%= link_to team.teamname, team %></h2></li>
  <% end %>
</ul>
</body>
