<body class="player-bg">
<div class="text-center white-text">
<li><%= @user.username %></li>
<li><%= @user.email %></li>
<li><%= @user.profile_photo%></li>
<%= link_to "Back", :back, class: "button"  %>
</div>
</body>
