<body>
<div class="row left-justify white-text">
<h1>Team Up</h1>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br>
<div class="quote">
<li>"A place to share your passion</li>
<li>for working out with your teammates"</li>
</div>
</div>
</body>
