<body class="home-bg">
<div class="logo left-justify">
<h1>Team Up</h1>
</div>
</br></br></br></br></br></br></br></br></br></br></br></br>
<div class="quote">
<li>"A place to share your passion</li>
<li>for working out with your teammates"</li>
</div>
</body>
