/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 /* Remove margins and padding from the list, and add a black background color */

label {
  color: white;
  font-weight: bold;
  font-size: x-large;
}

h2 {
  color: white;
}

p {
  color: white;
}

h3 {
  color: white;
}

a {
  color: white;
}
.h2 {
  text-decoration-color: white;
}
.signup {
  text-decoration-color: white;
}
.menu-vertical {
  float: right;
}

 body {
  background: url(team_up.jpg)no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  padding-left: 2cm;
  padding-right: 1cm;
  margin: 0px;
  background-repeat: no-repeat;
}

.teams-bg {
  background: url(weights.jpg)no-repeat center center fixed;
}
.add-teams-bg {
  background: url(SNEAKERS.jpg)no-repeat center center fixed;
}
.player-bg {
  background: url(dumbell.jpg)no-repeat center center fixed;
}

.exercise-bg {
  background: url(SOCCERF.png)no-repeat center center fixed;
}

.soccer-bg {
  background: url(dumbell.jpg)no-repeat center center fixed;
}

.nav-bar {
  float: right;
  margin-top: 1em;
}

.top-bar {
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: #000000;
    height:40px;
}

.form-element {
  text-decoration-color: white;
}

#bottom-bar {
  position:fixed;
  bottom:0;
  width:100%;
  margin: 0 auto;
  height: 3cm;
}

.form-element {
  max-width: 400px;
  margin: 0 auto;
  text-decoration-color: #ffffff;
  color: #ffffff;
}

.no-bullets {
  list-style: none;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.bold {
  font-weight: bold;
}

.button {
  background-color: #000000;
  text-decoration-color: black;
  width: 150px;
  font-weight: bold;
}
